
.quote{
	margin: 30px 0px;
	border: solid 1px #ccc;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote .quote_header a, .quote .quote_footer a{
	text-decoration: none;
}
.quote .quote_header a:hover, .quote .quote_footer a:hover{
	text-decoration: underline;
}


.quote .quote_header{
	text-align: right;
	font-size: 12px;
	padding: 3px;
	background: #EFEFEF;
	border-radius: 5px 5px 0px 0px;
}
.quote .quote_header div{
	display: inline-block;
	margin: 0px 3px 0px 0px;
}

.quote .quote_header .quote_number{
	font-size: 14px;
}

.quote .quote_header .options {
	width: 21px;
	height: 17px;
	margin-bottom: -5px;
	border: 1px solid #EFEFEF;
	background: url('./img/quotes/options_sprite.png') center top no-repeat;
	-webkit-border-radius: 5px 5px0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	position: relative; /*--Declare X and Y axis base--*/
	z-index: 100;
}
.quote .quote_header .options.selected {
	border: 1px solid #ccc;
	background: url('./img/quotes/options_sprite.png') center bottom no-repeat;
}

.quote .quote_header .options ul {
	display: none;
	float: left;
	width: 150px;
	position: absolute;
	left: -130px;
	top: 17px;
	list-style: none;
	margin: 0;
	padding: 0;
	background: #eee;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px 0px 5px 5px;
	-moz-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
}
.quote .quote_header .options ul li {
	text-align: left;
}
.quote .quote_header .options ul li a {
	float: left;
	width: 140px;
	background: #eee;
	padding: 1px 0px 3px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.quote .quote_header .options ul li a:hover {
	background: #ddd; 
}


.quote .quote_content{
	padding: 5px 10px 10px 10px;
	background: #EFEFEF;
}
.quote .quote_content .quote_text{
	font-size: 22px;
	padding: 0px 10px 8px 10px;
}
.quote .quote_content .quote_desc{
	line-height: 110%;
	padding: 15px 10px 10px 10px;
	border-top: 1px solid #ddd;
}
.quote .quote_content .quote_social{
	text-align: right;
	margin-top: -14px;
	margin-bottom: -8px;
}
.quote .quote_content .quote_social .twitter{
	display: inline-block;
	width: 20px;
	height: 14px;
	background: url('./img/quotes/twitt_sprite.png') no-repeat;
}
.quote .quote_content .quote_social .twitter:hover{background-position: 0px -14px;}
.quote .quote_content .quote_social .twitter:active{background-position: 0px -28px;}


.quote .quote_footer{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 0px;
	padding-top: 3px;
	background:	#EFEFEF;
	background: -webkit-linear-gradient(top, #EFEFEF, #ccc);
	background:	   -moz-linear-gradient(top, #EFEFEF, #ccc);
	background:		   -linear-gradient(top, #EFEFEF, #ccc);
	border-radius: 0px 0px 5px 5px;
}

.quote .quote_footer .quote_actions ul li{
	float: left;
	display: inline;
	margin-right: 15px;
}

.quote .quote_footer .quote_actions ul li ul{
	margin: 0px;
}
.quote .quote_footer .quote_actions ul li ul li{
	margin-right: 0px;
}
.quote .quote_footer .quote_actions .votebar {
	display: block;
	width: 80px;
	height: 5px;
	margin: 5px 4px;
	background: #eee;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}
.quote .quote_footer .quote_actions .votebar-up {
	float: left;
	height: 5px;
	border-right: 1px solid white;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
	
	background: #92B901;
	background: -webkit-gradient(linear,left top, right top,from(	#8d8),to(	#060));
	background: -webkit-linear-gradient(left,						#8d8,		#060);
	background: -moz-linear-gradient(	left,						#8d8,		#060);
	background: -o-linear-gradient(		left,						#8d8,		#060);
	background: linear-gradient(		left,						#8d8,		#060);
}
.quote .quote_footer .quote_actions .votebar-down {
	float: right;
	height: 5px;
	margin-right: -1px;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	
	background: #D44;
	background: -webkit-gradient(linear,left top, right top,from(	#C00),to(	#e88));
	background: -webkit-linear-gradient(left,						#C00,		#e88);
	background: -moz-linear-gradient(	left,						#C00,		#e88);
	background: -o-linear-gradient(		left,						#C00,		#e88);
	background: linear-gradient(		left,						#C00,		#e88);
}

.quote .quote_footer .more{
	float: right;
	margin-right: 15px;
}
.quote .quote_expand{
	display: none;
	text-align:left;
	padding: 10px;
	background: #ccc;
	border-radius: 0px 0px 5px 5px;
}
.quote .quote_expand a {
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px dashed #FBFBCB;
}




