.article{
	margin: 30px 0 40px 0;
	padding: 20px;
	background: white;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.article h1{
	margin-top: 25px;
	font-size: 28px;
}
.article h1.first{
	margin-top: 0px;
}

.article h2{
	font-size: 18px;
	color: #004284;
}

.article h6{
	text-align: right;
}

.article p{
	margin: 12px 0 12px 0;
	line-height: 18px;
}

.article p span, .article p span a, .article li span{
	color: #7F0000;
}

.article a{
	text-decoration: underline;
}

.article a:hover{
	color: #036;
}

.article dl {
	margin: 0px 20px;
}

.article dl dt {
	padding: 5px;
	padding-top: 15px;
}

.article dl dt {
	font-weight: bold;
}

.article dl dd {
	line-height: 18px;
}





.event  h1.first {
	display: block;
	position: relative;
	left: -44px;
	padding: 0 44px 4px;
	margin: -10px 0px -25px 0px;
	background: url('./img/divers/ribbon.png') no-repeat 0 0;
	height: 58px;
	font: bold 14px/30px 'Droid Sans';
	color: white;
	line-height: 48px;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	text-decoration: none;
}




.event .formEvent {
    float: left;
    width: 225px;
}
.event .formEvent fieldset {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    line-height: 1.6em;
    text-shadow: 0 1px 0 #fff;
    -moz-text-shadow: 0 1px 0 #fff;
    -webkit-text-shadow: 0 1px 0 #fff;
}
.event .formEvent legend {
    margin-bottom: 5px;
}
.event .formEvent div {
    margin-bottom: 15px;
}
.event .formEvent label {
    position: absolute;
    top: -999em;
}
.event .formEvent label, .event .formEvent input[type="text"] {
    color: #8c8a8a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background: url('./img/footer/bgFormMailList.png') no-repeat;
    border: none;
    height: 17px;
    padding: 8px;
    width: 183px;
}
.event .formEvent label:focus, .event .formEvent input[type="text"]:focus {
    background: url('./img/footer/bgFormMailList.png') 0 -33px no-repeat;
}
.event .formEvent .presents table td {
	padding: 1px 3px;
}

