.article{
	margin: 30px 0 40px 0;
	padding: 20px;
	background: white;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.article h1{
	margin-top: 25px;
	font-size: 28px;
}
.article h1.first{
	margin-top: 0px;
}

.article h2{
	font-size: 18px;
	color: #004284;
}

.article h6{
	text-align: right;
}

.article p{
	margin: 12px 0 12px 0;
	line-height: 18px;
}

.article p span, .article p span a{
	color: #7F0000;
}

.article a{
	text-decoration: underline;
}

.article a:hover{
	color: #036;
}

.article dl {
	margin: 0px 20px;
}

.article dl dt {
	padding: 5px;
	padding-top: 15px;
}

.article dl dt {
	font-weight: bold;
}

.article dl dd {
	line-height: 18px;
}
