
#footerWrapper {
    background: url('./img/footer/bgFooter.jpg') center top repeat-x;
    height: 400px;
    min-width: 946px;
	margin-top: 50px;
}
#footer {
    margin: 0 auto;
    position: relative;
    background: url('./img/footer/bgLines.png') no-repeat;
    padding: 35px 20px 0;
    width: 906px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    line-height: 1.6em;
    text-shadow: 0 1px 0 #fff;
    -moz-text-shadow: 0 1px 0 #fff;
    -webkit-text-shadow: 0 1px 0 #fff;
}
#footer legend, #footer dt {
    color: #8c8a8a;
    font-size: 1.4em;
    font-weight: bold;
}
#footer form div, #footer dd, #footer p {
    color: #9f9f9f;
    font-size: 1.2em;
}
#footer form div {
    line-height: 1.5em;
}
#footer dl {
    background: url('./img/footer/borderFooter.gif') repeat-y;
    float: left;
    padding-left: 18px;
    width: 145px;
}
#footer dl.first {
    margin-left: 25px;
}
#footer dl.tight {
    width: 136px;
}
#footer dl.last {
    width: 160px;
}
#footer dt {
    margin-bottom: 5px;
}
#footer dd {
    margin-bottom: 3px;
}
#footer dd.deep {
    margin-bottom: 18px;
}
#footer dd a {
    text-decoration: none;
}
#footer dd a, #footer p a {
    color: #9f9f9f;
}
#footer dd a:hover {
    text-decoration: underline;
}
#footer p a:hover {
    text-decoration: none;
}
#formMailList {
    float: left;
    width: 225px;
}
#formMailList legend, #footer dt {
    margin-bottom: 5px;
}
#formMailList div {
    margin-bottom: 15px;
}
#formMailList label {
    position: absolute;
    top: -999em;
}
#formMailListEmail {
    color: #8c8a8a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background: url('./img/footer/bgFormMailList.png') no-repeat;
    border: none;
    height: 17px;
    padding: 8px;
    width: 183px;
}
#formMailListEmail:focus {
    background: url('./img/footer/bgFormMailList.png') 0 -33px no-repeat;
}
#formMailListSubmit {
    background: url('./img/footer/buttonFormMailList.png') no-repeat;
    border: none;
    cursor: pointer;
    height: 21px;
    text-indent: -9999px;
    width: 13px;
	padding: 0px;
	vertical-align: baseline;
}
#formMailListSubmit:hover {
    background: url('./img/footer/buttonFormMailList.png') 0 -21px no-repeat;
}
#footerSub {
    clear: left;
    padding: 64px 0 0 175px;
}
#footerSub p {
    float: left;
    width: 290px;
}
#footerSub h3 {
    float: left;
    margin-right: 18px;
    padding-top: 1px;
}









