#header {
	position: relative;
	background: #ddd url('./img/header/header_bg.gif') repeat-x;
}
#header .title {
	height: 120px;
	position: relative;
}
#header .title h1, #header .title h1 a {
	font-family: 'AfterShokRegular', Arial, sans-serif;
	font-size: 48px;
	text-align: center;
	color: #202020;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 4px 3px 0px rgba(255, 255, 255, 0.1);
	/*text-shadow: 5px 4px 0px rgba(255, 255, 255, 0.1),
				4px 3px 0px rgba(255, 255, 255, 0.1),
				3px 2px 0px rgba(255, 255, 255, 0.1),
				2px 1px 0px rgba(255, 255, 255, 0.1),
				1px 0px 0px rgba(255, 255, 255, 0.1);*/
	padding: 20px 0px;
}
#header .title .disclaimer {
	color: #999;
	position: absolute;
}
#header .title .disclaimer a {color: #ccc;}


ul.topnav {
	list-style: none;
	padding: 0 20px;	
	margin: 0;
	float: left;
	width: 920px;
	background: #222;
	font-size: 1.2em;
	background: url('./img/header/topnav_bg.gif') repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url('./img/header/topnav_hover.gif') no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	margin-top: 3px;
	width: 17px;
	height: 35px;
	float: left;
	background: url('./img/header/subnav_btn.gif') no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
	z-index: 10;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url('./img/header/dropdown_linkbg.gif') no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url('./img/header/dropdown_linkbg.gif') no-repeat 10px center; 
}
#header .topnav li.favoris {
	display: none;
}
#header .topnav li.selection {
	display: none;
	padding-left: 50px;
}
#header .topnav li.selection div {
	display: inline;
}
#header .topnav li.selection a:hover {
	text-decoration: underline;
	background: url('./img/header/topnav_bg.gif') repeat-x;
}
